/* //////////////////
     ROOT
///////////////////*/
.content-color{
  background-color: gray;
}


/* //////////////////
     NAVBAR
///////////////////*/

.nav {
  display: flex;
  justify-content: space-evenly;
  font-size: 18pt;
  list-style: none;
}

.header {
  text-align: center;
  font-size: 24pt;
  color: white;
  background-color: transparent;
  background-color: black;
}



/*////////////////// 
    ABOUT ME 
//////////////////*/

.about-page{
  height: 700pt;
}

.selfie {
  width: 35vw;
  /* margin-left: 50pt; */
  display: flex;
  justify-content: center;
  text-align: center;
}

.intro {
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
}

.summary {
  display: flex;
  margin-left: 150pt;
  margin-right: 150pt;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 18pt;
}

.custom-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tippy{
  background-image: none;
}



/*////////////////// 
    PORTFOLIO 
//////////////////*/


.movie{
  width: 100%;
  height: 20vh;
  object-fit: cover;
}

.pbox{
  display: flex;
  flex-wrap: wrap;
}

.container{
  height: 700pt;
}

.pjs{
  background-color: gray;
  display: flex;
  flex-wrap: wrap;
}


/*////////////////// 
    RESUME 
//////////////////*/

.resume {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  height: 700pt;
  font-size: 50pt;
}

.res-space {
  margin-top: 150pt;
}

.res-pic{
  width: 35vw;
  /* margin-left: 250pt; */
  display: flex;
  justify-content: center;
  /* text-align: center; */
}


/*////////////////// 
    CONTACT 
//////////////////*/
.contact-page{
  background-color: gray;
}

.contact-title{
  color: blue;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  font-size: 62pt;
}

.contact-info{
  height: 700pt;
}

.msg-boxes{
  margin-top: 100pt;
  justify-content: center;  
  display: flex;
  flex-direction: row;
}

.cont-pers{
 color: white;  
  font:bold;
}

.cont-pic{
  width: 35vw;
  text-align: center;
  margin-left: 250pt;
  margin-top: 25pt;
  display: flex;
  justify-content: center;
  /* text-align: center; */

}

/*////////////////// 
    FOOTER 
//////////////////*/
.footer-p{
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100px;
}





